<div class="row mt-2">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Food items
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let food of cartService.getFoods()">
                    <div style="display: flex">
                        <div style="flex-grow: 1">
                            {{food.name}}
                        </div>
                        <div>
                            x{{food.qty}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Payment
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div style="display: flex">
                        <div style="flex-grow: 1">
                            Subtotal
                        </div>
                        <div>
                            23
                        </div>
                    </div>
                    <div style="display: flex">
                        <div style="flex-grow: 1">
                            Taxes & Packaging
                        </div>
                        <div>
                            29
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div style="display: flex">
                        <div style="flex-grow: 1">
                            Total
                        </div>
                        <div>
                            69
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>