<!--<div class="row justify-content-center">
    <div class="col-auto mt-3 float-start" *ngFor="let food of foods">

        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/{{(food.name | lowercase | removeWhiteSpace) + '.jpg' }}"
                class="food-card-img-top" alt="{{food.name}}">
            <div class="card-body">
                <h5 class="card-title">{{food.name}}</h5>
                <p class="card-text">{{food.description}}</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="container">
    <div class="d-grid">
        <div class="mt-3" *ngFor="let food of foods">
            <div class="card m-auto" style="width: 18rem;">
                <img src="../../assets/images/{{(food.name | lowercase | removeWhiteSpace) + '.jpg' }}"
                    class="food-card-img-top" alt="{{food.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{food.name}}</h5>
                    <p class="card-text">{{food.description}}</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>