/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.bdh {
    border: 1px solid black;
}

html, body {
    margin-top: 0;
    height: 100%;
}