<div class="row justify-content-center">
    <div class="col text-center">
        <div class="row">
            <div class="col">
                <h1>foodbox</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Discover your next favourite dish!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form>
                    <input type="text" placeholder="Search for a dish">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-foodlist></app-foodlist>
    </div>
</div>